// 8D99AE - gris ~40%
// EDF2F4 - gris my claro
// 29339B - azul oscuro
// FFC857 - naranja
// 0F2A44 - azul casi negro
$accentColor = #FE7F2D //  #A30B37
$textColor = #0F2A44
$borderColor = #EDF2F4
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = #FCCA46 // darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$codeBgColor = #1B2F33
// #282c34

$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px


$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile